* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  color: var(--very-dark-blue);
}

body {
  font-size: 1.5rem;
  background-color: var(--off-white);
}

p {
  line-height: 170%;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  width: 100%;
  display: block;
  color: var(--very-dark-blue);
  cursor: pointer;
}

@media screen and (min-width: 1080px) {
  body {
    padding: 4rem 0;
  }
}
