main.container {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
  padding: 9rem 1rem;
  display: grid;
  gap: 4rem;
}

@media screen and (min-width: 1080px) {
  main.container {
    max-width: 100rem;
    padding: 3rem 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "home new"
    "popular popular";
  }
}

@media screen and (min-width: 1280px) {
  main.container {
    max-width: 110rem;
  }
}