section#home {
  display: grid;
  gap: 2.4rem;

  h1 {
    font-size: 5rem;
    font-weight: 800;
  }

  p {
    color: var(--dark-grayish-blue);
  }

  button {
    width: 100%;
    max-width: 20rem;
    padding: 1.2rem 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: none;
    background-color: var(--soft-red);
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
  }

  button:hover {
    color: var(--white);
    background-color: var(--very-dark-blue);
  }

  img.home-image-desktop {
    display: none;
  }
}